*{
    background-color: #eee;
    
}

h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Courier New', 'monospace', 'serif';
    font-size: 70px;
}

h2{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'serif';
}

h3{
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

img{
    width: 500px;
    height: auto;
}